<form class="signin-form" autocomplete="off" #userForm="ngForm">
  <mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input matInput required email name="email" [(ngModel)]="formUser.email" />
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Password</mat-label>
    <input
      matInput
      required
      type="text"
      name="password"
      [(ngModel)]="formUser.password"
    />
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    type="button"
    (click)="onSignInButtonClick()"
    [disabled]="!userForm.valid"
  >
    SignIn
  </button>
</form>
