<mat-toolbar color='primary'>
  <div>{{title}}</div>

  <!-- This fills the remaining space of the current row -->
  <div class="example-fill-remaining-space"></div>

  <div class="section">
    <div *ngIf="auth.user$ | async; then authenticated; else guest">
      <!-- template will replace this div -->
    </div>
    <!-- User NOT logged in -->
    <ng-template #guest>
      <!-- <button mat-raised-button (click)="onSignInButtonClick()">Sign In</button> -->
    </ng-template>
    
    <!-- User logged in -->
    <ng-template #authenticated>
      <button mat-raised-button (click)="onSignOutButtonClick()">Sign Out</button>
    </ng-template>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
