<!-- User logged in -->
<div *ngIf="auth.user$ | async as user">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{ user.displayName }}</mat-card-title>
      <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
      <mat-card-subtitle>{{ user.uid }}</mat-card-subtitle>
      <mat-card-subtitle
        ><pre>{{ user | json }}</pre></mat-card-subtitle
      >
    </mat-card-header>

    <mat-card-actions>
      <button mat-stroked-button color="primary" (click)="subscribe()">
        Subscribe
      </button>
    </mat-card-actions>
  </mat-card>
</div>
